.App {
  text-align: center;
  margin: auto;
  padding: 20px;
}

header {
  display: inline;
  align-items: center;
}

.flex-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar {
  flex: 1;
}

main {
  flex: 2;
}
